{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="{% static 'home/images/dy_favicon.ico' %}" type="image/x-icon"/>
    <link type="text/css" href="{% static 'home/css/background-effect.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'home/css/base.css' %}" rel="stylesheet" />
    {% block extra_css %}{% endblock %}

</head>


<body>

    <!-- The pop-up (modal) -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span id="close-pop-up" class="close">&times;</span>
            <div id="popupContent" class="popupContent"></div>
            <!-- You can add any content you want to display in the pop-up -->
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>



    <div id="bg-grid" aria-hidden="true" class="bg-grid">
	    <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
        <div class="bg-grid-el"></div>
    </div>

    {% block footer %}
    {% endblock %}

    <script src="{% static 'home/js/background_effect.js' %}" defer></script>

</body>
</html>