.bg-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: -2;
    pointer-events: none;
    filter: blur(10px);
    grid-template-columns: repeat(5,1fr);
}

.bg-grid-el {
    background: #f8f9fa;
    transition: .8s background linear;
}

.hovered{
    background:#e9ecef
}

.clicked{
    background:var(--click-bg);
    transition:10ms background linear
}