.zen-banner{
    width: min(900px,100%);
    overflow: hidden;
    pointer-events: none;
    margin-top: 20px;
}

.zen-banner video {
    width: 100%;
}

.print-container {
    min-height: 100px;
}

.std-img {
    width: 100%;
}

.floating-img-container {
    position: relative;
}

.floating_image_left {
    width: 80px;
    height: auto;
    position: absolute;
    left: -14%;
    top: -50px;
    transform: rotate(-50deg);
}

.floating_image_right {
    width: 80px;
    height: auto;
    position: absolute;
    right: -10%;
    top: -50px;
    transform: rotate(50deg);
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.pornhub-style-background {
    font-family: sans-serif;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

.pornhub-style-background:hover {
    cursor: pointer;
}

.pornhub-hub {
    background-color: #f79a24;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    padding: 3px;
}

/* .pornhub-style {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pornhub-style span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 1vw;
    padding: 0 1vw 1vw 1vw;
    display: inline-block;
  } */